{% extends 'base.html' %}
{% block content %}
<div class="login-header mt-5">
    <h3 class="text-center">User Login</h3>
</div>
<div class="container login-form mt-5" style="margin-left:500px;" id="popup-container">
    <div class="row" id="popup-content">
        <div class="col-md-4">
            <form action="" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username"  class="form-label"  >Username</label>
                    <input type="text" class="form-control" name="username" placeholder="Enter your username">
                </div>
                <div class="mb-3">
                    <label for="password"  class="form-label"  >Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Enter your password">
                </div>
                {% if messages %}
                {% for i in messages  %}
                <div class="mb-3 mt-3" style="color:red;">
                    {{i}}
                </div>
                {% endfor %}
                {% endif %}
                <div class="mb-3">
                    <a href="/signup">Create an acconut</a>
                    <button type="submit" class="float-end btn btn-success">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

